node_modules

commitlint.config.js
Dockerfile

.eslintcache
.vscode
.next
out

build
dist

.DS_Store
.env
.npmrc
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
*.tsbuildinfo

logs
*.log
*-debug.log*
*-error.log*

.dockerignore
.prettierignore
.eslintignore